<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="/assets/images/logo.jpg" width="50" height="50">
    </a>
    <app-thesaurus-search *ngIf="router.url === '/'" class="Search"></app-thesaurus-search>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <button class="btn btn-primary" 
        style="background-color:#085c80"
        [routerLink]="['/thesaurus-add']" 
        routerLinkActive="router-link-active">Update</button>
    </nav>
</div>